# mod_rewrite if page does not include .html file extenstion

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]


# error 404 page:

ErrorDocument 404 /404.html